* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #094f6e;
  color: #e4f5ff;
  font-family: "Raleway", sans-serif;
}

.main-home {
  height: max-content;
  margin-bottom: 5%;
}

.main-home .home-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
}

.error-page {
  height: 70vh;
  margin: 0 auto;
  align-items: center;
}

.error-page h1 {
  color: #e4f5ff;
  text-transform: uppercase;
}

.error-page a {
  text-transform: capitalize;
  color: #2d7a9c;
  margin-bottom: 20px;
}

.error-page .text {
  background-color: aliceblue;
  width: 32%;
  height: 20%;
  box-shadow: 10px 10px 10px black;
}

.main-presidents {
  background-color: #022534;
  color: #e4f5ff;
  padding: 0 50px;
}

.main-presidents h2 {
  padding-top: 50px;
  border-bottom: 1px solid whitesmoke;
}

.main-presidents .figcaption a,
.main-presidents .figcaption {
  color: black;
}

.main-presidents a {
  text-decoration: wavy;
}

.main-single {
  background: #2d7a9c;
  padding: 30px 0;
  height: max-content;
}

.btn {
  border: 2px solid rgb(19, 44, 23);
  color: azure;
  font-size: 1.3em;
}

.btn:hover {
  background-color: whitesmoke;
  color: black;
  border: 2px solid rgb(11, 37, 23);
}

.footer a {
  color: red;
}

.figcap-president {
  color: #e4f5ff !important;
}
